#logo {
  height: 8vh;
  margin-top: 1vh;
  width: 14vw;
}

#section_events > div > div > img,
#section_reviews > div > div > img,
#section_articles > div > div > img {
  height: 26vh;
  width: 21.5vw;
}

.colaboradoras {
  border-radius: 50%;
  height: 10vh;
  width: 5vw;
}
