<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Glitch</title>
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Oswald" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<div class="navbar-fixed">
      <nav class="black" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" class="brand-logo option">
						<img id="logo" src="../assets/images/logo-glitch.jpg" alt="Logo">
					</a>
          <ul class="right hide-on-med-and-down">
            <li><a id="reviews" class="option">Reseñas</a></li>
            <li><a id="articles" class="option">Artículos</a></li>
            <li><a id="news" class="option">Eventos</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a>Reseñas</a></li>
            <li><a>Artículos</a></li>
            <li><a>Eventos</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
        </div>
      </nav>
    </div>

		<div class="container">
      <h1>Mundo marvel</h1>
      <div class="row">
        <div class="col s12 m12 s12">
        </div>
      </div>
      <div class="row">
        <p class="col s12 flow-text">Poco se sabe de este miembro de la raza de los Eternos, salvo que estaba en Perúpara recibir a la Tercera Hueste de Celestiales, quedándose allí una vez se marcharon. Tras pasar varios años viviendo en la Ciudad de los Dioses durante los cuales los incas le apodaron con el nombre de Tecumotzin, decidió ponerse en animación suspendida en la Sala de los Dioses, hasta la llegada de la Cuarta Hueste. Cuando se acercaba el momento otro eterno, Ikaris, haciéndose pasar por un guía llamado Ike Harris llegó hasta el lugar donde se encontraba Ajak.

				Lo despertaron a tiempo de presenciar la llegada de los Celestiales.
				Enviado por éstos fue a advertir a los dioses de los distintos panteones que se habían reunido de su llegada. Temiendo que la Tierra fuera encontrada no apta, Ajak se unió al resto de los eternos para formar parte de la Unimente.

				El colectivo, junto a Odín con la energía vital de todos los asgardianos en la armadura del Destructor, hicieron frente a los Celestiales para intentar impedir que juzgaran la Tierra. Sin embargo, el poder de los Celestiales eran muy superior a ellos y fueron fácilmente derrotados. Fue gracias a la intervención de Gea, que donó a los Celestiales un grupo de doce humanos géneticamente perfectos, los llamados Jóvenes Dioses, así Arishem absolvió a la Tierra, librándola de la
				destrucción. Ajak decidió quedarse atrás cuando la consciencia colectiva de la Unimente abandonó la Tierra y posteriormente se suicidó dispersando sus átomos.</p>
      </div>
      <div class="row">
        <p class="col s12 flow-text">Nombre Original: Ajak
				Nombre Real: Ajak
				Otros Alias: Tecumotzin, Quetzalcoatl, Señor del Vuelo
				Especie: Eterno
				Profesión: Arqueólogo, sirviente de los Celestiales
				Lugar de Nacimiento: Polaria, en alguna parte de Siberia, URSS
				Estado Civil: Desconocido, posiblemente soltero
				Parientes Conocidos: Rakar (padre), Amaa (madre)
				Grupo de Afiliación: Eternos de la Tierra
				Base de Operaciones: La Ciudad Oculta a la Vista, en Los Andes, Perú.
				Primera Aparición: The Celestials !
				Jack Kirby (SCRIPT), Jack Kirby (DRAW), John Verpoorten (INKS).</p>
        <footer>
					<p>Por <img class="colaboradoras responsive-img" src="../assets/images/itzel.jpg" alt="Itzel"> <a class="purple-text">Itzel Molina</a></p>
				</footer>
      </div>
			<div id="content"></div>
      <div class="row">
        <h5>Comentarios</h5>
        <textarea name="name" rows="8" cols="80"></textarea>
				<button class="btn waves-effect waves-light" type="submit" name="action">Enviar
					<i class="material-icons right"></i>
				</button>
      </div>
      <div class="row">
        <p class="coment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>
		<footer class="page-footer black">
      <div class="footer-copyright">
        <div class="container">
          <h6>Copyright © Glitch</h6>
        </div>
      </div>
    </footer>
		<script src="../js/md5.js"></script>
		<script src="../js/script.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  	<script type="text/javascript" src="../js/materialize.min.js"></script>
		<script src="../js/app.js"></script>
		<script type="text/javascript" src="../js/views.js"></script>
	</body>
</html>
