<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Artículos</title>
		<link rel="stylesheet" href="../css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Oswald" rel="stylesheet">
	</head>
	<body>
		<head>
			<div class="container">
				<div class="row">
					<div class="col-3">
						<img class="logo" src="" alt="logo
						">
					</div>
					<div class="col-9">
						<nav class="main-menu">
							<a class="menu borde" href="#">Inicio</a>
							<a class="menu borde" href="#">Reseñas</a>
						</nav>
					</div>
				</div>
			</div>

		<section class="team">
			<div class="container">
				<h3 class="title">A R T Í C U L O S</h3>
				<hr size="3px" color="gray" />
				<div class="row">
					<div class="col-6">
						<div class="gamers">
							<img class="picgamer" src="../assets/images/gaby.jpg" alt="sam">
							<h3 class="name">G a b y </h3>
							<h4 class="category">Amateur Gamer</h4>
							<img class="redes-personal" src="../assets/images/twitter.png" alt="twitter">
							<img class="redes-personal" src="../assets/images/google-plus.png" alt="google-plus">
							<img class="redes-personal" src="../assets/images/facebook.png" alt="facebook">
							<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<img src="../assets/images/controversia.jpg" width="400" height="200" alt="controversia">
							<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="col-6">
						<div class="gamers">
							<img class="picgamer" src="../assets/images/itzel.jpg" alt="itzel">
							<h3 class="name"> I t z e l </h3>
							<h4 class="category">Amateur Gamer</h4>
							<img class="redes-personal" src="../assets/images/twitter.png" alt="twitter">
							<img class="redes-personal" src="../assets/images/google-plus.png" alt="google-plus">
							<img class="redes-personal" src="../assets/images/facebook.png" alt="facebook">
							<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<img src="../assets/images/consola_pink.jpg" width="400" height="200" alt="consola_pink">
							<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>

					</div>
					<div class="row">
					<div class="col-6">
						<div class="gamers">
							<img class="picgamer" src="../assets/images/samahara.jpg" alt="sam">
							<h3 class="name"> S a m a h a r a </h3>
							<h4 class="category">Master Gamer</h4>
							<img class="redes-personal" src="../assets/images/twitter.png" alt="twitter">
							<img class="redes-personal" src="../assets/images/google-plus.png" alt="google-plus">
							<img class="redes-personal" src="../assets/images/facebook.png" alt="facebook">
							<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<img src="../assets/images/clothes_woman.jpg" width="400" height="200" alt="clothes_woman">
							<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="col-6">
						<div class="gamers">
							<img class="picgamer" src="../assets/images/ebe.jpg" alt="itzel">
							<h3 class="name"> E b e n e z e r </h3>
							<h4 class="category">Amateur Gamer</h4>
							<img class="redes-personal" src="../assets/images/twitter.png" alt="twitter">
							<img class="redes-personal" src="../assets/images/google-plus.png" alt="google-plus">
							<img class="redes-personal" src="../assets/images/facebook.png" alt="facebook">
							<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<img src="../assets/images/stadistics.png" width="400" height="200" alt="statistics">
							<p class="article">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					</div>

				</div>
			</div>
		</section>

	</body>
</html>
