<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Glitch</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="black" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" class="brand-logo option">
            <img id="logo" src="../assets/images/logo-glitch.jpg" alt="Logo">
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a id="reviews" class="option">Reseñas</a></li>
            <li><a id="articles" class="option">Artículos</a></li>
            <li><a id="news" class="option">Noticias</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a class="option">Reseñas</a></li>
            <li><a class="option">Artículos</a></li>
            <li><a class="option">Noticias</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
        </div>
      </nav>
    </div>
    <div class="container">
      <h1>Metal Gear Solid V</h1>
      <div class="row">
        <div class="col s12 m12 s12">
          <img class="mg-c" src="https://dummyimage.com/900x400" alt="">
        </div>
      </div>
      <div class="row">
        <p class="col s12 flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="col s12 flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="row">
        <footer>Autor reseña</footer>
      </div>
      <div class= "row responsive-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UMyoCr2MnpM" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="row">
        <h5>Comentarios</h5>
        <textarea name="name" rows="8" cols="80"></textarea>
        <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="row">
          <p class="coment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
    </div>
    <footer class="page-footer black">
      <div class="footer-copyright">
        <div class="container">
          <h6>Copyright © Glitch</h6>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
    <script type="text/javascript" src="../js/views.js"></script>
  </body>
</html>
