<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Glitch</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="black" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" class="brand-logo option">
            <img id="logo" src="../assets/images/logo-glitch.jpg" alt="Logo">
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a id="reviews" class="option">Reseñas</a></li>
            <li><a id="articles" class="option">Artículos</a></li>
            <li><a id="news" class="option">Eventos</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a class="option">Reseñas</a></li>
            <li><a class="option">Artículos</a></li>
            <li><a class="option">Eventos</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
        </div>
      </nav>
    </div>
    <div class="container">
      <h1>Metal Gear Solid V</h1>
      <div class="row">
        <div class="col s12 m12 s12">
          <img class="mg-c" src="../assets/images/metalgearsolidV.jpg" width="900" height="400" alt="MGSV">
        </div>
      </div>
      <div class="row">
        <p class="col s12 m11 flow-text">Kojima y su equipo volvieron a reunirse por última vez para trabajar en Konami antes de su marcha de la empresa; en la que fue la última entrega numerada oficial de la saga de videojuegos de espionaje, acción y ciencia-ficción, Metal Gear, con Metal Gear Solid V – The Phantom Pain.
          Y es que no podría definir mis sensaciones con otra sentencia que no fuera la del subtítulo que he colocado justo arriba, tras completar la misión secreta que revela el final auténtico del videojuego, tras la secuencia de créditos y la escena posterior a los créditos, tan típica del creador japonés; las secuencias extra, y jugar al modo online y asaltar bases enemigas y rechazar los ataques en la mía propia durante más de un año…
          Podéis descansar en Paz, pues no revelaré nada vital de la trama, para no destrozar la experiencia, la cual, es más que aconsejable experimentar por uno mismo.
          Pese a que no veáis que le otorgue una nota final perfecta a este videojuego, no significa que no deba merecer el trato de “obra maestra del género” por parte de los jugadores y la crítica, dado que los contras y problemas que sufre, llegan, en gran parte, a causa de su accidentado desarrollo, y para nada empañan todo lo bueno que nos aporta, que es realmente apabullante.</p>
        <p class="col s12 m11 flow-text">Debido al carácter inacabado de este videojuego, (sobre todo por motivos de desarrollo, como la expulsión de Kojima y su equipo por parte de Konami, que hizo que el videojuego no tuviese todo el contenido que se había planeado para él desde el inicio) se nos dejará con incógnitas nuevas, pese a resolver algunos huecos en la historia que llevábamos treinta años esperando a que fuesen explicados.
          Por desgracia, no veremos qué pasará al completo con muchos de sus personajes, y con algunos que serán claves, años más tarde… y nos hará sentir un “dolor fantasma”, por esta y muchas más razones.
          Homenajeando a Moby Dick desde el mismísimo desarrollo y concepción del videojuego (toda la artimaña mediática de Kojima con el estudio ficticio Moby Dick Studios, el personaje representado por él en los medios de Joakim Mogren, etc.)… Kojima Productions ha llevado esta idea hasta su ejecución final.
          La propia historia de este videojuego es un homenaje a esa novela, pero no es su única referencia a tener en cuenta. Veremos también una clara semejanza, a, por ejemplo, Kagemusha: La sombra del guerrero, una de las varias obras maestras del director de cine nipón, Akira Kurosawa. Aunque no diré nada en cuanto a esta y muchas de las demás referencias, porque, a todas luces, desvelaría el argumento y final del juego. De todas formas, muchos de los seguidores acertaron con sus especulaciones, surgidas a raíz de lo que vimos en el primer tráiler que nos presentaron.
          Se nos traslada a los hechos acaecidos posteriormente al ataque de la base de Snake y sus compañeros (la “Mother Base” original) por parte de sus enemigos. Snake fue llevado a un hospital de Chipre, donde se le intentó ocultar de sus detractores.
          <img class="mg-c" src="../assets/images/metalgearsolidV2.jpg" width="900" height="400" alt="MGSV">
          El protagonista, tras despertar del coma, se encuentra con un personaje autodenominado Ishmael, quien se referirá a nosotros como “Ahab”. Ishmael, en la novela original a que se referencia, irónicamente, era el único superviviente de la masacre orquestada por la tenaz ballena, y propiciada por el capitán Ahab, en su loca búsqueda por vengarse de su mortal enemigo, el cetáceo alvino.
          El obsesionado capitán, perdió una pierna en su anterior lucha contra el monstruo, así como Big Boss ha perdido un brazo en su pugna contra sus enemigos: Skull Face, XOF, etc., y Miller, a su vez, ha perdido una pierna y un brazo, además de sufrir daños en los ojos.
          Ishmael guiará a Ahab en su escape, y, tras esto, veremos a Big Boss ir poco a poco sumergiéndose en una espiral de odio y venganza. Surgirán dudas en torno a la identidad y motivaciones de Ishmael y del propio Big Boss.</p>
      </div>
      <div class= "row responsive-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UMyoCr2MnpM" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="row">
        <footer>
          <p>Por <img class="colaboradoras responsive-img" src="../assets/images/samahara.jpg" alt="Samahara"> <a class="purple-text">Samahara Fernández</a></p>
        </footer>
      </div>
      <div class="row">
        <h5>Comentarios</h5>
        <textarea name="name" rows="8" cols="80"></textarea>
        <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
          <i class="material-icons right"></i>
        </button>
      </div>
      <div class="row">
          <p class="coment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
    </div>
    <footer class="page-footer black">
      <div class="footer-copyright">
        <div class="container">
          <h6>Copyright © Glitch</h6>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
    <script type="text/javascript" src="../js/views.js"></script>
  </body>
</html>
