<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Glitch</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="black" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">
            <img id="logo" src="../assets/images/logo-glitch.jpg" alt="Logo">
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a id="reviews" class="optionHome">Reseñas</a></li>
            <li><a id="articles" class="optionHome">Artículos</a></li>
            <li><a id="news" class="optionHome">Noticias</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a href="">Reseñas</a></li>
            <li><a href="">Artículos</a></li>
            <li><a href="">Noticias</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
        </div>
      </nav>
    </div>

    <div  class="container">
      <div id="section_reviews" class="row">
        <h3>Top 10 Twitch</h3>

        <div id="videos" class="col s12 m12">


        </div>
      </div>
    </div>

    <footer class="page-footer black">
      <div class="footer-copyright">
        <div class="container">
          <h6>Copyright © Glitch</h6>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="..js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
    <script type="text/javascript" src="../js/twitch.js"></script>
  </body>
</html>
